@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Raniflix</h1>
    <p>Seu portal de informações sobre Filmes</p>
</div>

@foreach (var movie in Model)
{
    <p>@movie.Title - @movie.OriginalTitle</p>
}
